<div id="<%= dom_id card %>" class="card h-15 w-22 flex <%= card.color %> <%= card.texture %> border-1 border-gray-400 rounded-md p-2 justify-center m-2">
  <% card.number.times do %>
    <% if card.diamond? %>
      <%= render "cards/diamond", card: card %>
    <% elsif card.oval? %>
      <%= render "cards/oval", card: card %>
    <% elsif card.squiggle? %>
      <%= render "cards/squiggle", card: card  %> 
    <% end %>
  <% end %>
</div>
