<div id="<%= dom_id card %>" class="w-full sm:w-auto my-5 space-y-5">
</div>

<div id="<%= dom_id card %>" class="card h-15 w-15 flex <%= card.color %> <%= card.texture %>">
  <% card.number.times do %>
    <% if card.diamond? %>
      <%= render "diamond" %>
    <% elsif card.oval? %>
      <%= render "oval" %>
    <% elsif card.squiggle? %>
      <%= render "squiggle" %> 
    <% end %>
  <% end %>
</div>
